/* a{
    text-decoration: none;
} */
body{
    overflow-x:hidden ;
}
.footer{
    /* max-width:1440px; */
    width: 100%;
    /* max-width: 1440px; */
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr; 
    gap: 2rem;
    background-color: black;
    color: white;
    padding: 4%;
    transition: all 0.3s ease-out;
    
    
}

.footer-logo{
    margin-bottom: 12%;
}
.footer-description{
    /* font-weight: 500; */
}
.footer-section{
    /* width: 100%; */
    /* background-color: grey; */
}
.section-heading{
    font-size: large;
    font-weight: 650;
    margin-bottom: 12%;
}
.footer-item-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-item{
    color: #FFF;
    /* font-weight: 500; */
    /* fill: white; */
    display: flex;
    align-items: center;
    gap: 20px;
    /* overflow: hidden; */
    /* text-decoration: none; */
}
.footer-item img{
    fill: white;
}
.footer-item-container a{
    position: relative;
    text-decoration: none;
    color: white; 
    /* display: inline-block; */
    width: fit-content;
  }
  .icon{
    fill: white;
  }
  .footer-item-container a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    bottom: -4%;
    left: 0;
    background-color: white; 
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  
  .footer-item-container a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

 .footer-bottom{
    display: flex;
    align-items: center;
    padding: 2%;
    color: grey;
    
 }

 .address{
    margin: 5% 0;
 }
  
/* Add a media query for mobile screens */
@media screen and (max-width: 850px) {
    .footer {
      grid-template-columns: 1fr 1fr; 
      padding: 8%;
    }
  
    .footer-item::before {
      bottom: -2%;
    }

    .footer-logo{
        margin-bottom: 8%;
    }
    
    .section-heading{
        font-size: large;
        font-weight: 650;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 600px) {

    .footer {
        grid-template-columns: 1fr; 
        padding: 8%;
      }
    .courses{
        display: none;
    }
    .socials{
        display: flex;
        flex-direction: row;
        gap: 35px;
    }
    .social-name{
        /* display: none; */
    }
    .footer-item img{
        width: 2rem;
        height: 2rem;
    }
    .icon{
        width: 1.2rem!important;
        height: 1.2rem!important;
    }
}